doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title= config.title
        link(rel='stylesheet', type='text/css', href='css/styles.min.css')
        script(type='text/javascript', src='bower_components/jquery/dist/jquery.min.js')
        script(type='text/javascript', src='bower_components/jquery-ui/jquery-ui.min.js')
        script(type='text/javascript', src='js/scripts.min.js')
    body
        block body